.app {
  width: 100%;
  height: 100%;
}

.header {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.4)), url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  color: #fff;
}

.header .message {
  padding: 10px 0;
}

.header .interlink-logo {
  position: absolute;
  width: 110px;
  height: 110px;
  z-index: 1;
  top: 24px;
}

.header .interlink-logo img {
  width: 170px;
  height: 110px;
  margin-left: -48px;
}

.header .title,
.header .sub-title {
  width: 100%;
  display: block;
  text-align: center;
}

.header .title {
  font-size: 52px;
  margin-top: 80px;
}

.header .sub-title {
  font-size: 20px;
}
